body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  } 

  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }

  .item span {
    font-style: normal;
  }

  .bg-grey {
    background-color: #f6f6f6;
  }

  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

  .tech:hover{
    background-color: rgb(0, 96, 252);
    cursor: pointer;
  }

.card{
    /* position: relative; */

}

.card .face{
    /* width: 300px; */
    height: 250px; 
    transition: 0.5s;
    
} 
.card  .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(150px);

}

 .card:hover .face.face1{
    background: #70d7e9;
    transform: translateY(0px);
}

.card .face.face1 .content{
    opacity: 0.2;
    transform: 0.5s;
}

.card:hover .face.face1 .content{
    opacity: 1;
    
}

.card .face.face1 .content img{
    max-width: 100px;
}

.card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;

}

 .card .face.face2{
    position: relative;
    background: #fff;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);

}

 .card:hover .face.face2{
    transform: translate(0);
    color: rgb(0, 0, 0);
}
.card .face.face2 .content p{
    margin: 5px;
    padding: 0;
    text-align: center;
}

 .card .face.face2 .content a{
    margin: 10px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid;
    text-align: center;
    align-content: center;
    

}

.card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

