.clear{
    clear: both;
}

.topic{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.container{
    background-color: antiquewhite;
}

.header{
    background-color: #24292E;
    height: 100px;
    color: #ffffff;
}

.brand{
    float: left;
    font-size: 1.5em;
}

.menu{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.menu .card{
    position: relative;

}

.menu .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    
} 
.menu .card  .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);

}

.menu .card:hover .face.face1{
    background: #1d96ac;
    transform: translateY(0px);
}

.menu .card .face.face1 .content{
    opacity: 0.2;
    transform: 0.5s;
}

.menu .card:hover .face.face1 .content{
    opacity: 1;
}

.menu .card .face.face1 .content img{
    max-width: 100px;
}

.menu .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;

}

.menu .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);

}

.menu .card:hover .face.face2{
    transform: translate(0);
}
.menu .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.menu .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid;

}

.menu .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}