
.container{
    background-color: antiquewhite;
}

.header{
    background-color: rgb(0, 0, 0);
    height: 60px;
    color: #ffffff;
}

.part1{
   /* display: inline-flex; */
}

.brand{
    float: left;
    font-size: 2em;
    display: inline-flex;
}

#brandB {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
  }

  button:hover, a:hover {
    opacity: 0.7;
  }

  .searchBox {
    position: relative;
    left: 50%;
    float: right;

    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 30px;
    border-radius: 0px;
    padding: 0px;

}

.searchBox:hover{
    
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0px;
    background-color: #ffffff;
    color: #000;
}

.searchBox:hover > .searchButton {
  background: rgb(255, 255, 255);
  color : #000000;
  border-color: #0a0a0a;
}

.searchButton {
    color: rgb(0, 0, 0);
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial, sans-serif';
    font-style: italic;
    width: 50px;
    height: 30px;
    border-radius: 0%;
    border: 2px;
    border-color: #1d96ac;
    border-style: solid;
    padding: 2px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 15px;
    transition: 0.5s;
    line-height: 30px;
    width: 0px;

}
/*
@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
*/


.part2{
    justify-content: space-between;
}

.Login{
    position: relative;
    padding: 5px;
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-color: #fff;
    outline: 0;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    float: right;
}
.left-side{
    background-color: #EEEEEE;
    width: 25%;
    height: 1500px;
    float: left;
    border: 2px;
    border-color: #000000;
}

.headT{
    font-size: 2em;
    text-align: center;
    text-emphasis-style: bold;
    color: #000;
    border: 2px;
    border-style: double;
    background-color: #0084ff;
    margin: 2px;
}

.left-side ul li{
    padding: 4px 0 4px 10px;
    list-style-image: url(/assets/arrow.png);
    height: 20px;
}

.left-side ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    border-top: 1px solid #d6d6d6
}

.left-side ul li:hover, .left-side ul li.active{
    text-decoration: none;
    color: rgb(14, 14, 14);
    font-size: 23px;
    font-weight: bold;
}

.right-side{
    float: left;
    height: 1400px;
    width: 67%;
    background-color: #fff;
    margin: 1%;
    padding: 1%;
    border: 1%;
    text-orientation: sideways;
}

.p{
    margin: .5em .2em .6em .2em;
    padding: 0;
    text-align: justify;
    color: #000;
    font-size: 25px;
}